<!DOCTYPE html>
<html>
	<head>
		<title>VisioGaze</title>
		<link rel="icon" type ="image/x-icon" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/smart-glasses-2140725-1800222.png?f=webp">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body>
		<div class="grid grid-cols-3 grid-rows-2 h-screen">

			<button class="bg-amber-300 hover:bg-amber-400 text-black font-bold border-2 border-l-0 border-t-0 border-black relative flex align-text-top text-2xl justify-start items-start">
				<span class="absolute top-0 left-0 mt-8 ml-8">Música</span>
				<span class="absolute top-32 left-32 w-36 h-36" style="background-image: url('https://images.vexels.com/media/users/3/184267/isolated/preview/8ec63d26d98d295993e1b29d341f1502-icono-de-notas-de-musica-transmitida.png'); background-size: cover;">
				</span>
			</button>

			<button class="bg-cyan-300 hover:bg-blue-400 text-black font-bold border-2 border-l-0 border-t-0 border-black relative flex align-text-top text-2xl justify-start items-start">
				<span class="absolute top-0 left-0 mt-8 ml-8">Cámara</span>
				<span class="absolute top-32 left-32 w-36 h-36" style="background-image: url('https://cdn.icon-icons.com/icons2/711/PNG/512/photo-camera-1_icon-icons.com_62152.png'); background-size: cover;">
				</span>
			</button>

			<button class="bg-lime-300 hover:bg-lime-400 text-black font-bold border-2 border-l-0 border-t-0 border-black relative flex align-text-top text-2xl justify-start items-start">
				<span class="absolute top-0 left-0 mt-8 ml-8">Fecha y Hora</span>
				<span class="absolute top-32 left-32 w-36 h-36" style="background-image: url('https://cdn.icon-icons.com/icons2/1617/PNG/512/3700456-alarm-clock-date-time-timer-tools_108740.png'); background-size: cover;">
			</button>

			<button class="bg-green-300 hover:bg-green-400 text-black font-bold border-2 border-l-0 border-t-0 border-black relative flex align-text-top text-2xl justify-start items-start">
				<span class="absolute top-0 left-0 mt-8 ml-8">Clima</span>
				<span class="absolute top-32 left-32 w-36 h-36" style="background-image: url('https://cdn-icons-png.flaticon.com/512/566/566522.png'); background-size: cover;">
			</button>

			<button class="bg-fuchsia-300 hover:bg-fuchsia-400 text-black font-bold border-2 border-l-0 border-t-0 border-black relative flex align-text-top text-2xl justify-start items-start">
				<span class="absolute top-0 left-0 mt-8 ml-8">Cronómetro</span>
				<span class="absolute top-32 left-32 w-36 h-36" style="background-image: url('https://cdn-icons-png.flaticon.com/512/2928/2928750.png'); background-size: cover;">
			</button>

			<button class="bg-purple-300 hover:bg-purple-400 text-black font-bold border-2 border-l-0 border-t-0 border-black relative flex align-text-top text-2xl justify-start items-start">
				<span class="absolute top-0 left-0 mt-8 ml-8">Temporizador</span>
				<span class="absolute top-32 left-32 w-36 h-36" style="background-image: url('https://cdn-icons-png.flaticon.com/512/4578/4578995.png'); background-size: cover;">
			</button>

		</div>
	</body>
	</html>
